### Your Discord token
TOKEN=NOT_LEAKING_MY_TOKEN_TODAY!

### One of two modes: global for global commands, or guild for guild commands
MODE=global

### If you are using guild commands, you must specify the guild ID here.
### Otherwise, this value is irrelevant.
GUILD_ID=0